<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <ul>
        {% for product in products %}
        <li>
            <strong>URL:</strong> {{ product.url }}<br>
            <strong>Preço:</strong> R$ {{ product.price }}<br>
            <strong>Medições:</strong> {{ product.measurements }}
        </li>
        {% endfor %}
    </ul>
    <h2>Médias das Medições</h2>
    <ul>
        {% for category, avg_value in averages %}
        <li>
            <strong>{{ category }}:</strong> {{ avg_value }} cm
        </li>
        {% endfor %}
    </ul>
</body>
</html>
